.todo {
    overflow: hidden;
    transition: all 0.2s 0.2s cubic-bezier(.7, .2, .17, 1);
    position: relative;
    display: block;
}

.field {
    transition: background-size 0.8s 0.2s cubic-bezier(.7, .2, .17, 1), background-color 0.2s cubic-bezier(.7, .2, .17, 1), height 0.2s 1s cubic-bezier(.7, .2, .17, 1);
    position: relative;
    background-color: #222222;
    border-top: 1px solid #1D1D1D;
    cursor: pointer;
}

.field:hover {
    background-color: #1D1D1D;
}

.todo:first-child .field {
    border-top: none;
}

.checker {
    transition: all 0.3s cubic-bezier(.09, .66, .36, 1.8);
    position: absolute;
    right: 0;
    top: 0;
    color: #47D185;
    font-size: 1.4em;
    height: 50px;
    width: 50px;
    border: 0;
    background: none;
}